body {
	width: auto;
	align-items: center;
	margin: 0;
}

header {
	background-color: #3853d8;
	color: #ffffff;
	display: flex;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	height: 100px;
}

.logo a {
	width: calc(100%/ 5);
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
}

.logo a p {
	margin-left: 32px;
	font-weight: bold;
	font-size: 32px;
	margin-top: 10px;
	text-align: center;
	align-items: center;
}

.navi {
	width: auto;
	display: flex;
	justify-content: center;
	margin-left: 100px;
	margin-top: 20px;
}

.navi>div a {
	text-decoration: none;
	color: #ffffff;
}

.navi>div a h4 {
	text-transform: uppercase;
	font-size: 14px;
	padding: 25px 15px;
	font-family: 'Times New Roman', Times, serif;
	align-items: center;
	text-align: center;
}

.nav-right {
	display: flex;
	align-items: center;
	margin-right: 22px;
}

.register {
	margin-right: 20px;
	margin-left: 70px;
	justify-content: center;
}

.register a {
	text-decoration: none;
	color: #d5d5d6;
	font-size: 14px;
	text-transform: uppercase;
}

.nav-right>div a i {
	padding: 0 10px;
	text-decoration: none;
	color: #ffffff;
}

.cart-icon {
	position: relative;
}

.cart-icon span {
	position: absolute;
	color: #3853d8;
	font-size: 10px;
	background-color: #ffffff;
	border-radius: 50%;
	width: 14px;
	height: 12px;
	left: 23px;
	text-align: center;
	bottom: -5px;
	padding-top: 2px;
}

.direction {
	background-color: #0021c4;
	color: #ffffff;
	text-align: center;
}

.title {
	margin-right: 80px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 50px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}

.director {
	padding-top: 10px;
	padding-bottom: 140px;
}

.director a {
	text-decoration: none;
	color: #ffffff;
	padding: 0 7px;
	font-size: 12px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}

main {
	width: auto;
	display: grid;
	place-items: center;
}

.main-pro {
	width: 90%;
	display: flex;
	border: 1px solid #ccc;
	align-items: center;
	margin-top: -80px;
	background-color: white;
}

.main-pro .desc {
	margin-left: 100px;
	margin-top: 100px;
	margin-right: 160px;
	margin-bottom: 160px;
}

.main-pro .desc>h3 {
	color: #3853d8;
	font-size: 18px;
	text-transform: uppercase;
}

.main-pro .desc>h2 {
	font-weight: 200;
	font-size: 38px;
}

.cas {
	display: flex;
}

.cas .color {
	margin-right: 100px;;
}

.cas .color .colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.colors span {
	align-items: center;
	text-align: center;
	margin: 10px;
	width: 30px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid #cab5a4;
	padding-top: 10px;
}

#W {
	background-color: #ffffff;
}

#R {
	background-color: #f44336;
}

#Y {
	background-color: #ffeb3b;
}

#G {
	background-color: #4caf50;
}

#si {
	width: 100%;
	display: flex;
}

#si span {
	width: calc(100%/ 4);
	width: 40px;
	height: 30px;
	text-align: center;
	align-items: center;
	border: 1px solid #ccc;
	padding-top: 10px;
	font-weight: bold;
}

.action {
	display: flex;
	margin-top: 40px;
	text-align: center;
	place-items: center;
}

.action .price {
	display: flex;
	font-size: 18px;
}

.price .old-price {
	font-size: 14px;
	text-align: left;
	margin-top: 28px;
	font-weight: 200;
	text-decoration: line-through;
	opacity: 0.6;
	margin-left: 10px;
}

.price .new-price {
	color: #d35d5d;
}

.pro-amount {
	margin-left: 100px;
}

.pro-amount .btn-minus {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0px;
}

.pro-amount input {
	width: 20px;
	height: 36px;
	margin-left: -4px;
	width: 20px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	text-align: center;
}

.pro-amount .btn-add {
	width: 40px;
	height: 40px;
	margin-left: -4px;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0px;
}

.addtocart {
	margin-left: 100px;
	background-color: #3853d8;
	width: 120px;
	height: 40px;
	border-radius: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.addtocart {
	color: white;
}

.main-pro .desc>img {
	margin-top: 20px;
}

.image {
	display: inline-block;
	place-items: center;
}

.pro-img {
	margin-right: 180px;
}

.comments {
	width: 90%;
	border: 1px solid #ccc;
	align-items: center;
	margin-top: -80px;
	background-color: white;
}

.comments .choose {
	display: flex;
	padding-left: 60px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
}

.choose a {
	height: 60px;
	text-decoration: none;
	color: #363637;
	margin: 0 40px;
	padding-bottom: 10px;
}

.choose .active {
	color: #3853d8;
	border-bottom: 3px solid #3853d8;
}

.allreview {
	margin-left: 120px;
	margin-top: 50px;
	opacity: 0.7;
}

.allreview span {
	color: #3853d8;
}

.comment {
	margin-left: 120px;
	margin-top: 50px;
	margin-right: 120px;
	border-bottom: 1px solid black;
}

.comment:last-child {
	border-bottom: 0px;
	margin-bottom: 60px;
}

#nar {
	display: flex;
	align-items: center;
}

#nar h4 {
	margin-left: 30px;
	margin-right: 40px;
}

#nar span {
	margin-left: 480px;
}

.comment>div:last-child, p {
	
}

.comment>p {
	margin-bottom: 20px;
}

.comment>div:last-child {
	font-size: 12px;
	opacity: 1;
	margin-bottom: 20px;
}

.comment>div:last-child i:first-child {
	border-right: 1px solid black;
	padding-right: 10px;
}

.comment>div:last-child i:last-child {
	margin-left: 10px;
}

.comment>div:last-child i span {
	margin-left: 5px;
}

.load-more {
	text-align: center;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	align-items: center;
}

.load-more i {
	color: #3853d8;
	margin-right: 10px;
}

.first-row {
	width: 90%;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.first-row>div:first-child {
	width: calc(100%/ 4);
}

.pro-1 {
	width: calc(100%/ 4);
	border: 1px solid black;
	margin-left: 50px;
	margin-bottom: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.pro-1 .title {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
}

.pro-1 .price {
	display: flex;
}

.pro-1 .old-price {
	font-size: 14px;
	font-weight: 100;
	text-decoration: line-through;
	margin-left: 60px;
	margin-top: 20px;
}

.pro-1 .new-price {
	font-size: 14px;
	font-weight: 100;
	color: #3853d8;
	margin-top: 20px;
	margin-left: 10px;
}

.pro-1 img {
	padding-top: 20px;
	margin-bottom: -30px;
}

.brands {
	display: flex;
	position: relative;
	margin-bottom: 40px;
	margin-top: -20px;
}

.brands i:first-child {
	position: absolute;
	left: -150px;
	top: 90px;
	font-size: 30px;
	opacity: 0.5;
}

.brands i:last-child {
	position: absolute;
	right: -150px;
	top: 90px;
	font-size: 30px;
	opacity: 0.5;
}

.brands img {
	width: auto;
	padding: 70px 30px;
}

footer {
	display: flex;
	background-color: #363637;
	position: relative;
}

.first-footer {
	display: block;
	margin-left: 120px;
	padding-top: 40px;
}

.first-footer div:last-child {
	margin-top: 45px;
	padding-bottom: 110px;
}

.first-footer>div a {
	font-size: 24px;
	text-decoration: none;
	color: #d5d5d6;
	font-family: sans-serif;
}

.second-footer {
	margin-left: 200px;
}

.other {
	margin-top: 45px;
	margin-bottom: 60px;
}

.other a {
	text-decoration: none;
	color: #d5d5d6;
	text-transform: uppercase;
	padding-right: 40px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.subscribe h3 {
	color: #d5d5d6;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.subscribe input {
	width: 320px;
	height: 40px;
}

.subscribe input::placeholder {
	padding-left: 20px;
}

.subscribe button {
	width: 140px;
	height: 44px;
	margin-left: 14px;
}

.subscribe button:hover {
	cursor: pointer;
}

.third-footer {
	margin-left: 150px;
	margin-top: 45px;
}

.third-footer div {
	color: #d5d5d6
}

.third-footer div:first-child {
	font-size: 24px;
	padding-bottom: 30px;
}

.third-footer .phone {
	padding-bottom: 40px;
}